{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel='stylesheet' href="{% static 'styles.css' %}">
  <title>API Integration Hackathon</title>
</head>
<body>
  <h1>Jokes & puppers?</h1>
  <p> This playful site lets you laugh, learn about dog breeds, and find your perfect match!</p>
  
  
  <h2>Joke</h2>
  {{result}}
  {{result1}}
 

  <h3>Inquire About Dog Prices</h3>
  <p>Interested in a specific breed? Let us know!</p>
  <form>
    <label for="dogBreed">Dog Breed:</label>
    <input type="text" id="dogBreed" name="dogBreed" placeholder="Enter breed name">
    <br>
    <button type="submit">Get Price Quote</button>
  </form>

  <h2>Tell Us About Your Hobbies</h2>
  <p>Knowing your hobbies helps us match you with the perfect pup!</p>
  <label for="hobbies">What are your hobbies?</label>
  <textarea id="hobbies" name="hobbies" rows="4" cols="50" placeholder="Write your hobbies here (e.g., hiking, playing fetch)"></textarea>
  <h2>Random dog breeds</h2>
  
  <img src ={{result2}} alt='random pet'>
  <h2>Ready to Order?</h2>
  <button type="button">Place Order</button>
  <p> Your Order will be confirmed in 5 minutes</p>
</body>
</html>
